* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* outline: 1px dashed red; */
}

.container {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin: 1em;
}

h1 {
    margin: .4em;
}

.plaguedoctor {
    margin: .4em;
}

.button {
    display: flex;
    margin: .4em;
}

.project-link {
    text-decoration: none;
    padding: .3em .6em;
    background-color: rgb(50, 156, 50);
    border: 1px solid black;
    color: white;
    box-shadow: 3px 3px 1px #000000;
}